<div id='contest'>
  <div class='image_outer'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='container'>
          <div class='col-md-6 col-sm-9 col-lg-6 header'>
            <h1 class="headline">Live the <span class="heavy">dream<br><span class='text-left'>life</span></span></h1>
          </div>
          <div class='col-md-6 col-sm-3 col-lg-6 text'>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <div class="go-to-contest">
              <a class="p-button p-button-secondary" href="#anchor">Go to ...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class='anchor' id='anchor'></a>
  <section id='contest-form-container'>
    <div class='row'>
      <div class='col-md-4 col-lg-4 col-sm-4 col-md-offset-4 col-sm-offset-4 contest-form'>
        <%= render 'contest_participant_form' %>
      </div>
    </div>
  </section>
</div>








